
/* tablet landscape */

@media (max-width: 1024px) {
p {
  font-size: 2.55em
}
img.one.column {
    margin: 24px;
}

/* tablet */

@media (max-width: 768px) {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  p {
    font-size: 2em;
  }
  p.six.columns.wordWrap {
    padding-left: 15px;
  }
  img.one.column {
    width: 20%;
    margin: 0;
    padding: 40px 10px;
  }
}
/* large mobile landscape */
@media (max-width: 667px) {
p {
  font-size: 1.7em;
}
}
/* small mobile landscape */
@media (max-width: 568px) {
p {
  font-size: 1.45em;
}
}
/* large mobile portrait */

@media (max-width: 425px) {
  html, body {
    margin: 0px;
    padding: 0px;
  }
  h1 {
    font-size: 5rem;
    line-height: 57px;
  }
  .container {
    margin-top: 0;
  }
  .five.columns.firstShelf, .five.columns.secondShelf {
    display: none;
  }
  p {
    font-size: 2em;
  }
  p.wordWrap {
    width: 14.5em;
    padding-top: 95px;
  }
  img#plant02 {
    margin-top: 40px;
  }
  img.one.column {
    width: 20%;
    margin: 0px;
    padding: 40px 10px;
  }
  .social {
    width: 72%;
  }
}
/* small mobile portrait */

@media (max-width: 320px) {
  .neon {
    font-size: 4.5rem !important;
  }
  p {
    font-size: 1.75em !important;
  }
}
