/* iPhone5 Query */

@media only screen and (max-width: 320px) {

h1.neon {
  margin: auto;
  width: 96%;
  line-height: 40px;
  font-size: 4rem;
  font-weight: 300;
  text-align: center;
  letter-spacing: 1.2rem !important;
}
#board {
  padding: none;
}

img#board {
  width: 100%;
}
p {
  position: absolute;
  color: #f4f6f8;
  padding: 8px 0 0 12px;
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  line-height: 28px;
  font-weight: 300;
}
div.five.columns.firstShelf, div.five.columns.secondShelf {
  display: none;
}
.footer {
  margin-top: 40px;
  height: 64;
}
div.social {
  opacity: 0.4;
  display: block;
  width: 100%;
}
img.one.column {
  margin: 10px;
}
}
