@font-face {
  font-family: url('fonts/life.otf');
}

body {
  margin: 0px;
  padding: 0px;
  font-family: 'TiemposText-Regular', sans-serif;
  position: relative;
/*  background: linear-gradient(0deg, #F2E7DD, #F28C8C); */
}

h1 {

  color: black;
  letter-spacing: 0.125rem;
  margin-top: 3rem;
}

p {

  color: black;
  font-size: 2rem;
}

.navbar-right {
  float: right!important;
}

a.navbar-brand {
  margin-right: 21rem;
}
